.site-name {
  font-size: 1.8rem;
  margin-top: -0.6rem;
  margin-bottom: 0;
}
.navigation-wrapper {
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 2em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', 'Hiragino Sans GB', "Microsoft YaHei", sans-serif;
}
time {
  font-family: 'PT Sans', sans-serif;
  color: #c3c3c3;
}
article {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', "Microsoft YaHei", sans-serif;
}
p+p {
  margin-top: -0.5rem;
  text-indent: 0; 
}
#index {
  margin-top: -1rem;
}
#index article h2 {
  text-transform: capitalize;
  margin-top: 2rem;
}
.pagination {
  margin: 3rem 0;
  border-top: 1px solid #c3c3c3;
  padding-top: 1.5rem;
}
.pagination-nav-btn {
  font-family: 'PT Sans Narrow', serif;
  background-color: #ededed;
  padding: 5px;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
span.pagination-nav-btn {
  color: #c3c3c3;
}
.nav-page-num {
  display: inline-block;
  padding: 0 1px;
}
.nav-current-page-num {
  border-bottom: 1px dotted #c3c3c3;
}
